diffusers==0.18.2
ninja==1.11.1
omegaconf==2.3.0
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
peft==0.11.1
Pillow==9.5.0
pytorch3d==0.7.4
PyYAML==6.0
safetensors==0.4.3
scipy==1.10.1
timm==0.6.13
tokenizers==0.13.3
tqdm==4.65.0
transformers==4.28.1
typing_extensions==4.5.0
typing-inspect==0.9.0

